// Обуление

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

header, main, footer {
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
}

// -------------------------

// Mixins

$colorBlue: #0082F4;

// -------------------------

// Header

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;

    .menu-list {
        display: flex;
        gap: 40px;
    }

    .menu-link {
        position: relative;
        line-height: 23px;
        transition: .2s;
    }

    .menu-link::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -35px;
        transition: .2s;
    }

    .menu-link:hover {
        color: $colorBlue;
    }

    .menu-link:hover::before {
        background: $colorBlue;
    }

    .menu-btn {
        width: 161px;
        height: 52px;
        display: flex;
        background: #0082F4;
        border-radius: 6px;
        line-height: 23px;
        color: #FFFFFF;
        justify-content: center;
        align-items: center;
        transition: .2s;
    }

    .menu-btn:hover {
        background: #0062f4;
    }

    .menu-btn:hover:active {
        background: #0058dd;
    }
}

hr {
    margin-top: 9px;
    border: none;
    height: 1px;
    background-color: #0283F5;
    opacity: 0.1;
}

@media (max-width: 1024px) {
    .head {
        padding: 0 5px;
    }
}

@media (max-width: 768px) {
    
}

// -------------------------

// Business

.business {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.smart {
    width: 530px;

    .up-title {
        font-size: 25px;
        line-height: 1.45em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #0080FD;
        margin-bottom: 5px;
    }

    .smart-title {
        font-weight: 700;
        font-size: 3em;
        line-height: 79px;
        margin-bottom: 20px;

        .title-span {
            color: $colorBlue;
        }
    }

    .bottom-title {
        font-size: 0.8rem;
        line-height: 24px;
        opacity: 0.6;
        margin-bottom: 30px;
    }
}

.smart-buttons {
    display: flex;

    .smart-btn {
        width: 194px;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: .2s;
    }

    .st-btn {
        background: $colorBlue;
        font-weight: 500;
        line-height: 23px;
        color: #FFFFFF;
        margin-right: 30px;
    }

    .st-btn:hover {
        background: #0062f4;
    }

    .st-btn:hover:active {
        background: #0058dd;
    }

    .pl-btn {
        border: 1px solid #0082F4;
        background: transparent;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 19px;

        img {
            margin-right: 15px;
        }
    }

    .pl-btn:hover {
        background: #dad0ff;
        border: none;
    }
}

@media (max-width: 1024px) {
    .business {
        padding: 0 5px;

        .smart {
            text-align: center;
            margin: 0 auto;

            .smart-buttons {
                justify-content: center;
            }
        }

        .bsn-img {
            display: none;
        }
    }
}














